<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ngClassifieds</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/angular-material/angular-material.css" rel="stylesheet">
</head>
<body ng-app="ngClassifieds" ng-controller="classifiedsCtrl">
<div class="container">
    <div class="row">
        <hello-world></hello-world>
        <h2>Find a sum:</h2>
        <div class="col-xs-4">
            <div class="input-group">
                <input type="number" class="form-control" placeholder="0" ng-model="a" />
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">+</span>
                <input type="number" class="form-control" placeholder="0" ng-model="b" />
                <span class="input-group-addon" style="border-left: 0; border-right: 0;">=</span>
                <input type="text" class="form-control" disabled ng-model="a+b" />
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <h2>Enter your name:</h2>
        <div class="col-xs-2">
            <input class="form-control" type="text" placeholder="Your name" ng-model="name.first">
            </div>
        <div class="col-xs-2">
            <h4>{{ name.first }}</h4>
        </div>
    </div>
</div>

<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-aria/angular-aria.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script src="node_modules/angular-material/angular-material.js"></script>
<script src="scripts/app.js"></script>
<script src="components/classifieds.ctr.js"></script>
</body>
</html>